/* button, links */
/* button, icon, link-hover color*/
/* bacground colors */
/* selection-section and stay-connected-section */
/* text colors */
/* offer-section */
/* icon color */
/* selection-section */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  color: #404040;
  font-family: roboto, sans-serif;
  letter-spacing: 0.11px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes slide-a {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-a {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-b {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-b {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes zoom-a {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
    top: 38px;
    width: 482px;
    height: 482px;
  }
}
@keyframes zoom-a {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
    top: 38px;
    width: 482px;
    height: 482px;
  }
}
@-webkit-keyframes zoom-b {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 366px;
    top: 0;
    width: 482px;
    height: 482px;
  }
}
@keyframes zoom-b {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 366px;
    top: 0;
    width: 482px;
    height: 482px;
  }
}
@-webkit-keyframes zoom-c {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 391px;
    top: 186px;
    width: 482px;
    height: 482px;
  }
}
@keyframes zoom-c {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 391px;
    top: 186px;
    width: 482px;
    height: 482px;
  }
}
@-webkit-keyframes zoom-a-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
    top: 16px;
    width: 200px;
    height: 200px;
  }
}
@keyframes zoom-a-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
    top: 16px;
    width: 200px;
    height: 200px;
  }
}
@-webkit-keyframes zoom-b-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 151px;
    top: 0;
    width: 200px;
    height: 200px;
  }
}
@keyframes zoom-b-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 151px;
    top: 0;
    width: 200px;
    height: 200px;
  }
}
@-webkit-keyframes zoom-c-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 162px;
    top: 77px;
    width: 200px;
    height: 200px;
  }
}
@keyframes zoom-c-m {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 162px;
    top: 77px;
    width: 200px;
    height: 200px;
  }
}
.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #161f49;
}

.link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 1px 0 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.swiper-container-smart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 413px) {
  .sw-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 30px;
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 34px;
    width: 1440px;
  }
}

.header {
  background-color: #ffffff;
}
@media screen and (max-width: 1023.98px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
  }
}

.header::before {
  display: none;
}
@media screen and (max-width: 1023.98px) {
  .header::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #ffffff;
  }
}

.header__banner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  color: #ffffff;
  background-color: #161f49;
  z-index: 6;
}
@media screen and (min-width: 1024px) {
  .header__banner {
    padding: 5px 0;
  }
}

.header__banner-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .header__banner-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.643;
  }
}

.header__container {
  display: flex;
}

.header__logo {
  z-index: 6;
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    margin-right: 16px;
    padding: 15px 4px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    margin-right: 154px;
  }
}

.header__logo-icon {
  width: 65px;
  height: 30px;
  fill: #000000;
}
@media screen and (min-width: 1024px) {
  .header__logo-icon {
    width: 107px;
    height: 50px;
  }
}

.header__navigation-wrapper {
  background-color: #ffffff;
}
@media screen and (max-width: 1023.98px) {
  .header__navigation-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 74px);
    transform: translatey(calc(-100% - 74px));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__navigation-wrapper.is-open {
  transform: translatex(0);
}

@media screen and (max-width: 1023.98px) {
  .header__navigation-container {
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 15px;
  }
}

@media screen and (max-width: 1023.98px) {
  .header__navigation {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav {
    display: flex;
  }
}

@media screen and (max-width: 1023.98px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.header__nav-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2223;
  letter-spacing: 0.11px;
}
.header__nav-link:hover, .header__nav-link:focus {
  background-color: #f7f7f7;
  color: #2468ff;
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    display: block;
    padding: 29px 20px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2223;
    letter-spacing: 0.11px;
  }
}
@media screen and (min-width: 1440px) {
  .header__nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__socials {
  display: none;
}
@media screen and (max-width: 1023.98px) {
  .header__socials {
    display: block;
  }
}

.header__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  z-index: 6;
}

.header__btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 166px;
  height: 100%;
  margin-right: -15px;
  padding: 0;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.11px;
  background-color: #2468ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1023.98px) {
  .header__btn-cart {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__btn-cart {
    margin-right: -30px;
  }
}
@media screen and (min-width: 1440px) {
  .header__btn-cart {
    margin-right: -34px;
  }
}
.header__btn-cart:hover, .header__btn-cart:focus {
  background-color: #161f49;
}

@media screen and (max-width: 1023.98px) {
  .header__btn-cart-content {
    display: none;
  }
}

.header__btn-cart-icon {
  fill: #ffffff;
}
@media screen and (max-width: 1023.98px) {
  .header__btn-cart-icon {
    fill: #000000;
  }
}

.header__mobile-menu-open {
  position: relative;
  display: none;
}
@media screen and (max-width: 1023.98px) {
  .header__mobile-menu-open {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
  }
}

.header__mobile-menu-open::before,
.header__mobile-menu-open::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.header__mobile-menu-open::before {
  top: 4px;
}

.header__mobile-menu-open::after {
  bottom: 4px;
}

.header__btn-decor {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.socials {
  display: flex;
  gap: 27px;
}

.social-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__icon {
  fill: currentColor;
}

.logo {
  display: inline-flex;
}

.hero {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 68px;
  text-align: center;
  background-color: #ffffff;
  color: #ffffff;
  overflow: hidden;
}
@media screen and (max-width: 1023.98px) {
  .hero {
    padding-top: 74px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-bottom: 98px;
  }
}

.hero__anim-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 182px;
}
@media screen and (min-width: 1440px) {
  .hero__anim-wrapper {
    height: 300px;
  }
}

.hero__anim-box {
  display: flex;
  justify-content: center;
}

.hero__sticker {
  margin: 0 auto;
}

.slide-a,
.slide-b {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.slide-a {
  transform: translateX(-100%);
  -webkit-animation-name: slide-a;
          animation-name: slide-a;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slide-b {
  transform: translateX(-100%);
  -webkit-animation-name: slide-b;
          animation-name: slide-b;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero__container {
  padding-bottom: 141px;
}
@media screen and (min-width: 1024px) {
  .hero__container {
    padding-bottom: 140px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    padding-bottom: 270px;
  }
}

.hero__background {
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .hero__background {
    padding-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero__background {
    padding-top: 120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/hero-desktop@2x.jpg");
  }
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.125;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1112;
    margin-bottom: 24px;
  }
}

.hero__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .hero__caption {
    margin-bottom: 15px;
  }
}

.hero__btn {
  width: 226px;
  height: 50px;
  background: none;
  border: 1px solid #ffffff;
}

.promo {
  padding: 40px 0 5px;
  text-align: center;
  background-color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .promo {
    padding: 80px 0 3px;
  }
}
@media screen and (min-width: 1440px) {
  .promo {
    padding: 110px 0 91px;
  }
}

.promo__subtitle {
  font-size: 18px;
  line-height: 1.1666666667;
  margin-bottom: 21px;
  color: #404040;
}

.promo__amazon-logo {
  display: block;
  margin: 0 auto 28px;
}

.promo__link {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .promo__link {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__link {
    margin-bottom: 116px;
  }
}

.promo__link.link {
  color: #404040;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo__link.link::after {
  background-color: #404040;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo__link.link:hover, .promo__link.link:focus {
  color: #2468ff;
}
.promo__link.link:hover::after, .promo__link.link:focus::after {
  background-color: #2468ff;
}

.promo__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 730px;
  text-align: center;
  font-size: 30px;
  line-height: 1.3333333333;
  color: #404040;
}
@media screen and (min-width: 1024px) {
  .promo__title {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__title {
    margin-bottom: 44px;
  }
}

.promo__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  max-width: 736px;
  text-align: center;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #404040;
}
@media screen and (min-width: 1024px) {
  .promo__text {
    font-size: 18px;
    line-height: 1.3888888889;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__text {
    margin-bottom: 78px;
  }
}

.promo__button {
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  background-color: #2468ff;
  border: none;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .promo__button {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__button {
    margin-bottom: 91px;
  }
}

.promo__wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .promo__wrapper {
    width: 384px;
    height: 232px;
  }
}
@media screen and (min-width: 1024px) {
  .promo__wrapper {
    width: 928px;
    height: 560px;
  }
}

.promo__anim-box {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 362px;
  height: 210px;
  overflow: hidden;
}
@media screen and (max-width: 413px) {
  .promo__anim-box {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .promo__anim-box {
    top: 20px;
    left: 5px;
    width: 872px;
    height: 506px;
  }
}

.promo__anim-elements {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #404040;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .promo__anim-elements {
    border: 2px solid #404040;
    width: 50px;
    height: 50px;
  }
}

.promo__anim-element-a {
  top: 105px;
  left: 86px;
  -webkit-animation-name: zoom-a-m;
          animation-name: zoom-a-m;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (min-width: 1024px) {
  .promo__anim-element-a {
    -webkit-animation-name: zoom-a;
            animation-name: zoom-a;
    top: 254px;
    left: 216px;
  }
}

.promo__anim-element-b {
  top: 89px;
  left: 240px;
  -webkit-animation-name: zoom-b-m;
          animation-name: zoom-b-m;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (min-width: 1024px) {
  .promo__anim-element-b {
    -webkit-animation-name: zoom-b;
            animation-name: zoom-b;
    top: 216px;
    left: 582px;
  }
}

.promo__anim-element-c {
  top: 166px;
  left: 251px;
  -webkit-animation-name: zoom-c-m;
          animation-name: zoom-c-m;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (min-width: 1024px) {
  .promo__anim-element-c {
    -webkit-animation-name: zoom-c;
            animation-name: zoom-c;
    top: 402px;
    left: 607px;
  }
}

.products {
  margin-left: auto;
  margin-right: auto;
  padding-top: 580px;
  padding-bottom: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1023.98px) {
  .products {
    padding: 0px;
  }
}
@media screen and (min-width: 414px) {
  .products {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .products {
    width: 1024px;
    padding-top: 400px;
    padding-bottom: 80px;
    background-image: url(../img/products/products-eero-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../img/products/products-eero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .products {
    width: 1440px;
    padding-top: 580px;
    padding-bottom: 80px;
    background-image: url(../img/products/products-eero-desktop@1x.jpg);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../img/products/products-eero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .products__wrapper {
    display: flex;
    gap: 34px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .products__wrapper {
    gap: 60px;
    margin-bottom: 90px;
    padding: 0 106px;
  }
}

.products__element {
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 1023.98px) {
  .products__element {
    padding-top: 421px;
    padding-bottom: 38px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .products__element {
    flex-basis: calc((100% - 34px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .products__element {
    flex-basis: calc((100% - 60px) / 2);
    text-align: left;
  }
}

@media screen and (max-width: 1023.98px) {
  .products__element-pro6 {
    margin-left: -15px;
    margin-right: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/products/products-eero-pro6-mobile@1x.jpg");
  }
}
@media screen and (max-width: 1023.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 1023.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1023.98px) and (min-resolution: 192dpi), screen and (max-width: 1023.98px) and (min-resolution: 2dppx) {
  .products__element-pro6 {
    background-image: url("../img/products/products-eero-pro6-mobile@2x.jpg");
  }
}

@media screen and (max-width: 1023.98px) {
  .products__element6 {
    margin-left: -15px;
    margin-right: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/products/products-eero6-mobile@1x.jpg");
  }
}
@media screen and (max-width: 1023.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 1023.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1023.98px) and (min-resolution: 192dpi), screen and (max-width: 1023.98px) and (min-resolution: 2dppx) {
  .products__element6 {
    background-image: url("../img/products/products-eero6-mobile@2x.jpg");
  }
}

.products__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 10px;
  background-color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .products__icon {
    margin-left: 0;
    margin-right: 0;
  }
}

.products__caption {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1818181818;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .products__caption {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.0714285714;
  }
}
@media screen and (min-width: 1024px) {
  .products__caption {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.2222222222;
  }
}

.products__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1428571429;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .products__title {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}
@media screen and (min-width: 1440px) {
  .products__title {
    font-size: 42px;
    line-height: 1.1428571429;
  }
}

.products__title--short {
  margin-left: auto;
  margin-right: auto;
  max-width: 172px;
}
@media screen and (min-width: 1024px) {
  .products__title--short {
    max-width: 222px;
  }
}
@media screen and (min-width: 1440px) {
  .products__title--short {
    margin-left: 0;
    margin-right: 0;
  }
}

.products__description {
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 23px;
}
@media screen and (min-width: 1024px) {
  .products__description {
    font-size: 18px;
    line-height: 1.3333333333;
    margin-bottom: 28px;
  }
}

.products__description-price {
  font-size: 18px;
  line-height: 1.2222222222;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .products__description-price {
    font-size: 18px;
    line-height: 1.3333333333;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .products__description-price {
    margin-bottom: 38px;
  }
}

.products__price {
  font-weight: 700;
}

.products__btn {
  background-color: #2468ff;
  width: 220px;
  height: 52px;
  border: none;
}

.products__link {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link::after {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover, .products__link:focus {
  color: #2468ff;
}
.products__link:hover::after, .products__link:focus::after {
  background-color: #2468ff;
}
@media screen and (max-width: 1023.98px) {
  .products__link {
    display: none;
  }
}

.smart {
  position: relative;
  text-align: center;
  padding: 25px 0 30px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 414px) {
  .smart {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .smart {
    padding: 80px 0;
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .smart {
    padding: 166px 0 72px;
    width: 1440px;
  }
}

.smart__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-origin: border-box;
}

.smart__container {
  position: relative;
  z-index: 3;
}

.smart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 201px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .smart__wrapper {
    gap: 50px;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 1440px) {
  .smart__wrapper {
    gap: 57px;
    margin-bottom: 44px;
  }
}

.smart__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 413px) {
  .smart__list {
    gap: 20px;
  }
}
@media screen and (max-width: 1023.98px) {
  .smart__list {
    order: 2;
  }
}

.smart__item {
  width: 78px;
  height: 78px;
}

.smart__icon {
  fill: currentColor;
  border: 2px solid #ffffff;
  border-radius: 33%;
  width: 78px;
  height: 78px;
}
.smart__icon--current {
  background-color: #000000;
}

.section__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
}
@media screen and (max-width: 1023.98px) {
  .section__title {
    order: 1;
  }
}
@media screen and (min-width: 1024px) {
  .section__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
  }
}

.section__text {
  max-width: 734px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1024px) {
  .section__text {
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3888888889;
  }
}
@media screen and (min-width: 1440px) {
  .section__text {
    margin-bottom: 119px;
  }
}

.smart__btn {
  width: 220px;
  height: 52px;
  border: none;
  background-color: #2468ff;
  margin-bottom: 34px;
}
@media screen and (min-width: 1024px) {
  .smart__btn {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .smart__btn {
    margin-bottom: 69px;
  }
}

.smart__box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.smart__box-item {
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}
.smart__box-item--current {
  background-color: #000000;
}

.advantages {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
@media screen and (min-width: 1024px) {
  .advantages {
    padding: 80px 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages {
    padding: 135px 0 120px;
  }
}

.advantages__title {
  max-width: 782px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3333333333;
}
@media screen and (min-width: 1024px) {
  .advantages__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
    font-size: 50px;
    line-height: 1.2;
  }
}

.advantages__description {
  max-width: 708px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.3333333333;
}
@media screen and (min-width: 1024px) {
  .advantages__description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 1024px) {
  .advantages__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.true-mesh {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  color: #ffffff;
  background-color: #161f49;
}
@media screen and (min-width: 1440px) {
  .true-mesh {
    padding: 117px 0 124px;
  }
}

.true-mesh__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3333333333;
}
@media screen and (max-width: 1023.98px) {
  .true-mesh__title {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .true-mesh__title {
    font-size: 50px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .true-mesh__title {
    margin-bottom: 44px;
  }
}

.true-mesh__description {
  max-width: 710px;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 1.3333333333;
}
@media screen and (min-width: 1024px) {
  .true-mesh__description {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .true-mesh__description {
    margin-bottom: 41px;
  }
}

.true-mesh__btn {
  width: 220px;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #2468ff;
  background-color: #2468ff;
}
.true-mesh__btn:hover, .true-mesh__btn:focus {
  border-color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .true-mesh__btn {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .true-mesh__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .about {
    padding-top: 80px;
    padding-bottom: 51px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding-top: 116px;
    padding-bottom: 120px;
  }
}

.about__title {
  color: #404040;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.0714285714;
}
@media screen and (min-width: 1024px) {
  .about__title {
    margin-bottom: 83px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
  }
}

.about__list {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .about__list {
    display: flex;
    gap: 90px;
    width: 798px;
    height: 427px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .about__list {
    gap: 164px;
    width: 946px;
    text-align: left;
  }
}

@media screen and (max-width: 1023.98px) {
  .about__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 180px) / 3);
  }
}
@media screen and (min-width: 1440px) {
  .about__item {
    align-items: flex-start;
    flex-basis: calc((100% - 330px) / 3);
  }
}

.about__icon {
  fill: #2468ff;
  margin-bottom: 32px;
}

.about__subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.1428571429;
  color: #404040;
  max-width: 182px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.about__text {
  flex: 1 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3333333333;
  color: #404040;
  margin-bottom: 30px;
}

.about__link.link {
  color: #404040;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__link.link::after {
  background-color: #404040;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__link.link:hover, .about__link.link:focus {
  color: #2468ff;
}
.about__link.link:hover::after, .about__link.link:focus::after {
  background-color: #2468ff;
}

.selection {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 1024px) {
  .selection {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .selection {
    padding-bottom: 106px;
  }
}

.selection__title {
  max-width: 328px;
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
}
@media screen and (min-width: 1440px) {
  .selection__title {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1.2;
  }
}

.configurator {
  width: 100%;
}

.configurator__counter {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .configurator__counter {
    margin-bottom: 36px;
  }
}

.configurator__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 24px;
  height: 24px;
}
.configurator__item--current {
  border: 1px solid #00b68c;
}
.configurator__item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 36px;
  height: 1px;
  background-color: #999999;
  right: -42px;
  top: 50%;
}

.configurator__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6428571429;
  letter-spacing: 0.10998px;
  background-color: #999999;
}
.configurator__dots--current {
  background-color: #00b68c;
}

.configurator__page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1023.98px) {
  .configurator__page {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .configurator__page {
    gap: 14px;
  }
}

.configurator__caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
}

.configurator__group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  max-width: 392px;
}

.configurator__img {
  width: 100%;
  max-width: 386px;
  margin: 0 auto 40px;
}
@media screen and (min-width: 1440px) {
  .configurator__img {
    margin-bottom: 58px;
  }
}

.configurator__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  height: 60px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1;
  color: rgba(64, 64, 64, 0.3);
  border: 2px solid #c0c0c0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.configurator__label:hover, .configurator__label:focus, .configurator__label--current {
  background-color: #ffffff;
  color: #404040;
  border-color: #404040;
}

.configurator__btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.configurator__btn {
  display: block;
  width: 220px;
  padding: 19px 0 19px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  background-color: #999999;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.configurator__btn:hover, .configurator__btn:focus {
  background-color: #161f49;
}

.footer {
  background-color: #161f49;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding-top: 90px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer__items {
  font-size: 17px;
  line-height: 1.39;
  color: #ffffff;
  font-family: "Roboto";
}
.footer__items:not(:last-child) {
  margin-bottom: 8px;
}

.footer__box-one {
  display: flex;
  gap: 92px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.footer__field-label {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 1px;
}

.footer-form__input {
  padding: 13px 0px;
  width: 293px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff;
  margin-right: 28px;
  background-color: #161f49;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #989898;
}

.footer__field-title {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 69px;
}

.footer__logo {
  padding-left: 175px;
  margin-bottom: 60px;
}

.footer__logo-icon {
  fill: #ffffff;
}

.footer__gen-box {
  padding-left: 175px;
  display: flex;
  margin-bottom: 52px;
}

.footer__box-two {
  margin-left: 93px;
}

.footer__soc-set {
  padding-left: 175px;
  display: flex;
  gap: 277px;
}

.footer-button {
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  background-color: #161f49;
  border-radius: 0px;
  height: 53px;
  width: 191px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover, .footer-button:focus {
  background-color: #161f49;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.footer {
  display: none;
}/*# sourceMappingURL=index.css.map */