.about__title {
    color: $colorTextPrimary;
    text-align: center;
    margin-bottom: 40px;
    @include for-size(tablet) {
        margin-bottom: 83px;
    }
}

.about__list {
    text-align: center;
    @include for-size(tablet-medium) {
        display: flex;
        gap: 45px;
        height: 380px;
        margin: 0 auto;
    }
    @include for-size(tablet) {
        gap: 90px;
        width: 798px;
        height: 427px;
    }
    @include for-size(desktop) {
        gap: 164px;
        width: 946px;
        justify-content: center;
        text-align: left;
    }
}

.about__item {
    @include for-size(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    @include for-size(tablet-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 90px) / 3);
    }
    @include for-size(tablet) {
        flex-basis: calc((100% - 180px) / 3);
    }
    @include for-size(desktop) {
        align-items: flex-start;
        flex-basis: calc((100% - 328px) / 3);
    }
}

.about__icon {
    fill: $colorAccent;
    margin-bottom: 32px;
    @include for-size(tablet-medium-only) {
        margin-bottom: 20px;
    }
}

.about__subtitle {
    @include font(400, 21px, calc(24 / 21), '');
    color: $colorTextPrimary;
    margin-bottom: 18px;
    @include for-size(tablet-medium-only) {
        max-width: 182px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    @include for-size(tablet-medium) {
        max-width: 182px;
    }
    @include for-size(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.about__text {
    @include font(400, 18px, calc(24 / 18), '');
    color: $colorTextPrimary;
    margin-bottom: 30px;
    @include for-size(tablet-medium) {
        flex: 1 0 0;
        margin-bottom: 0;
    }
}

.about__link.link {
    color: $colorTextPrimary;
    transition: color $baseTransition;
    &::after {
        background-color: $colorTextPrimary;
        transition: background-color $baseTransition;
    }
    &:hover,
    &:focus {
        color: $colorAccent;
        &::after {
            background-color: $colorAccent;
        }
    }
}
