.about {
    padding-top: 40px;
    padding-bottom: 40px;
    @include for-size(tablet) {
        padding-top: 80px;
        padding-bottom: 51px;
    }
    @include for-size(desktop) {
        padding-top: 116px;
        padding-bottom: 120px;
    }
}

.about__title {
    color: $colorTextPrimary;
    text-align: center;
    margin-bottom: 40px;
    @include font(400, 28px, calc(30 / 28), '');
    @include for-size(tablet) {
        margin-bottom: 83px;
        @include font(400, 50px, calc(60 / 50), '');
    }
}

.about__list {
    text-align: center;
    @include for-size(tablet) {
        display: flex;
        gap: 90px;
        width: 798px;
        height: 427px;
        margin: 0 auto;
    }
    @include for-size(desktop) {
        gap: 164px;
        width: 946px;
        text-align: left;
    }
}

.about__item {
    @include for-size(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    @include for-size(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 180px) / 3);
    }
    @include for-size(desktop) {
        align-items: flex-start;
        flex-basis: calc((100% - 330px) / 3);
    }
}

.about__icon {
    fill: $colorAccent;
    margin-bottom: 32px;
}

.about__subtitle {
    @include font(400, 21px, calc(24 / 21), '');
    color: $colorTextPrimary;
    max-width: 182px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.about__text {
    flex: 1 0 0;
    @include font(400, 18px, calc(24 / 18), '');
    color: $colorTextPrimary;
    margin-bottom: 30px;
}

.about__link.link {
    color: $colorTextPrimary;
    transition: color $baseTransition;
    &::after {
        background-color: $colorTextPrimary;
        transition: background-color $baseTransition;
    }
    &:hover,
    &:focus {
        color: $colorAccent;
        &::after {
            background-color: $colorAccent;
        }
    }
}
