.advantages {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    @include for-size(tablet) {
        padding: 80px 0 50px;
    }
    @include for-size(desktop) {
        padding: 135px 0 120px;
    }
}

.advantages__title {
    max-width: 782px;
    margin-bottom: 50px;
    @include font(400, 30px, calc(40 / 30), '');
    @include for-size(tablet-medium) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 44px;
        @include font('', 50px, calc(60 / 50), '');
    }
}

.advantages__description {
    max-width: 708px;
    margin-bottom: 50px;
    @include font('', 18px, calc(24 / 18), '');
    @include for-size(tablet-medium) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 82px;
    }
}

.advantages__img {
    @include for-size(tablet) {
        margin-left: auto;
        margin-right: auto;
    }
}
