.configurator {
    width: 100%;
}

.configurator__counter {
    display: flex;
    justify-content: center;
    gap: 46px;
    margin-bottom: 30px;
    @include for-size(desktop) {
        margin-bottom: 36px;
    }
}

.configurator__item {
    cursor: default;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 24px;
    height: 24px;
    &--current {
        border: 1px solid $colorSquareGreen;
    }
    &--clickabled {
        cursor: pointer;
    }
    &:not(:last-child):after {
        content: '';
        cursor: default;
        position: absolute;
        width: 36px;
        height: 1px;
        background-color: $colorPrimaryGray;
        right: -42px;
        top: 50%;
    }
}

.configurator__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: $colorTextWhite;
    @include font(400, 14px, calc(23 / 14), 0.10998px);
    background-color: $colorPrimaryGray;
    &--used {
        background-color: $colorSquareGreen;
    }
}

.configurator__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.configurator__caption {
    @include font(400, 18px, calc(20 / 18), '');
}

.configurator__group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 392px;
}

.configurator__img {
    height: 192px;
    margin: 0 auto 40px;
    @include for-size(desktop) {
        margin-bottom: 58px;
    }
}

.configurator__img--home {
    max-width: 387px;
}

.configurator__img--gadjets {
    max-width: 185px;
}

.configurator__img--speed {
    max-width: 192px;
}

.configurator__img--multiple {
    max-width: 208px;
}

.configurator__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    height: 60px;
    @include font(400, 21px, 1, '');
    color: rgba(64, 64, 64, 0.3);
    border: 2px solid #c0c0c0;
    transition: color $baseTransition, background-color $baseTransition,
        border-color $baseTransition;
    &:hover,
    &:focus,
    &--current {
        background-color: $colorBackgroundPrimary;
        color: $colorTextPrimary;
        border-color: $colorTextPrimary;
    }
}

.configurator__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.configurator__btn {
    flex-basis: calc((100% - 14px) / 2);
    flex-grow: 1;
    max-width: 220px;
    height: 52px;
    border: none;
    background-color: $colorAccent;
}

.configurator__btn.disabled {
    background-color: $colorPrimaryGray;
    cursor: not-allowed;
}
