.container {
    padding: 0 15px;
    margin: 0 auto;
    @include for-size(mobile) {
        width: 414px;
    }
    @include for-size(tablet-medium) {
        width: 960px;
        padding: 0 30px;
    }
    @include for-size(tablet) {
        width: 1024px;
    }
    @include for-size(desktop) {
        padding: 0 34px;
        width: 1440px;
    }
}
