.footer {
    max-width: 1440px;
    background-color: $colorBackgroundDark;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: $colorTextWhite;
    @include for-size(tablet-medium) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include for-size(desktop) {
        margin-left: auto;
        margin-right: auto;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.footer__container {
    @include for-size(desktop) {
        padding-left: 190px;
        padding-right: 190px;
    }
}

.footer__logo {
    display: block;
    width: 86px;
    height: 39px;
    margin-bottom: 30px;
    @include for-size(mobile-only) {
        margin-left: auto;
        margin-right: auto;
    }
    @include for-size(desktop) {
        margin-bottom: 58px;
    }
}

.footer__logo-icon {
    fill: $colorTextWhite;
}

.footer__box-wrapper {
    @include for-size(tablet-medium) {
        display: grid;
        grid-template-columns: 354px 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }
    @include for-size(tablet) {
        grid-template-columns: 410px 1fr;
        grid-column-gap: 40px;
    }
    @include for-size(desktop) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px;
    }
}

.footer__nav-box {
    display: flex;
    @include for-size(mobile-only) {
        margin-bottom: 30px;
    }
}

.footer__nav {
    width: 50%;
}

.footer__nav-link {
    display: block;
}

.footer__items {
    @include font('', 16px, calc(20 / 16), '');
    &:not(:last-child) {
        margin-bottom: 14px;
    }
    @include for-size(tablet) {
        @include font('', 17px, calc(25 / 17), '');
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
}

.footer__form-box {
    @include for-size(mobile-only) {
        margin-bottom: 50px;
        text-align: center;
    }
}

.footer__caption {
    @include font('', 36px, calc(48 / 36), '');
}

.footer__text {
    @include font('', 18px, calc(25 / 18), '');
    margin-bottom: 74px;
}

.footer__form {
    @include for-size(tablet) {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

.footer-form__field {
    display: block;
    flex-grow: 1;
    margin-bottom: 22px;
    @include for-size(tablet) {
        margin-bottom: 0;
    }
}

.footer-form__input {
    padding: 17px 15px;
    width: 100%;
    color: $colorTextWhite;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $colorTextWhite;
    background-color: $colorBackgroundDark;
    @include font('', 14px, calc(16 / 14), '');
    text-transform: uppercase;
}

.footer-btn {
    background-color: $colorBackgroundDark;
    border: 1px solid $colorTextWhite;
    transition: background-color $baseTransition;
    &:hover,
    &:focus {
        background-color: $colorAccent;
    }
}

.footer-copyright {
    @include font('', 13px, calc(23 / 13), '');
    @include for-size(mobile-only) {
        text-align: center;
    }
    @include for-size(tablet-medium) {
        width: 410px;
        order: 1;
    }
    @include for-size(desktop) {
        width: 500px;
    }
}

.footer__socials {
    justify-content: center;
    @include for-size(mobile-only) {
        margin-bottom: 30px;
    }
    @include for-size(tablet-medium) {
        justify-content: flex-start;
        order: 2;
    }
}
