.help-center {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: $colorBackgroundLightGray;
    @include for-size(tablet-medium) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include for-size(desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.help-center__title {
    margin-bottom: 35px;
    @include font(400, 30px, calc(40 / 30), '');
    @include for-size(tablet-medium) {
        @include font('', 50px, calc(60 / 50), '');
    }
}

.help-center__caption {
    margin-bottom: 45px;
    @include font('', 18px, calc(25 / 18), '');
    @include for-size(mobile-only) {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.help-center__btn {
    margin-bottom: 95px;
    border: none;
    background-color: $colorAccent;
}

.help-center__services {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    @include for-size(tablet-medium) {
        justify-content: center;
        flex-wrap: nowrap;
        gap: 50px;
    }
    @include for-size(tablet) {
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
    }
    @include for-size(desktop) {
        max-width: 1024px;
        gap: 86px;
    }
}

.help-center__item {
    @include font('', 18px, calc(24 / 18), '');
    flex-basis: 50%;
    @include for-size(tablet) {
        display: flex;
        flex-basis: 25%;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
}

.help-center__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @include for-size(tablet) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
