.offer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    @include for-size(tablet-medium) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include for-size(desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.offer__container {
    @include for-size(desktop) {
        position: relative;
    }
}
.offer__title {
    @include font(400, 36px, calc(48 / 36), '');
    margin-bottom: 30px;
    @include for-size(tablet-medium) {
        @include font('', 46px, calc(60 / 46), '');
    }
    @include for-size(tablet) {
        @include font('', 50px, calc(60 / 50), '');
        margin-bottom: 60px;
    }
    @include for-size(desktop) {
        margin-bottom: 123px;
    }
}

.offer__swiper-container {
    overflow: hidden;
    @include for-size(tablet-medium) {
        margin-left: -30px;
        margin-right: -30px;
    }
    @include for-size(desktop) {
        margin-left: -34px;
        margin-right: -34px;
    }
}

.offer__swiper-slide {
    @include for-size(tablet-medium) {
        display: flex;
        margin-bottom: 38px;
    }
    @include for-size(tablet) {
        margin-bottom: 40px;
    }
    @include for-size(desktop) {
        margin-bottom: 85px;
    }
}

.offer__swiper-slide-item {
    @include for-size(tablet-medium) {
        flex-basis: calc(100% / 2);
    }
}

.offer__swiper-pagination {
    display: flex;
    justify-content: space-between;
    max-width: 347px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    @include for-size(tablet) {
        margin-bottom: 30px;
    }
    @include for-size(desktop) {
        position: absolute;
        top: 183px;
        left: calc(50% + 80px);
        width: 100%;
        height: 22px;
        z-index: 2;
    }
}

.offer__link.link {
    color: $colorTextPrimary;
    transition: color $baseTransition;
    &::after {
        background-color: $colorTextPrimary;
        transition: background-color $baseTransition;
    }
}

.offer__link--current.link {
    color: $colorAccent;
    &::after {
        background-color: $colorAccent;
    }
}

.offer__img-wrapper {
    display: block;
    @include for-size(mobile-only) {
        margin-bottom: 20px;
    }
}

.offer__img {
    margin-left: auto;
    margin-right: auto;
}

.offer__swiper-slide-wrapper {
    @include for-size(mobile-only) {
        margin-bottom: 30px;
    }
    @include for-size(tablet-medium) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include for-size(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding-top: 61px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.swiper-slide-caption {
    @include font('', 20px, calc(30 / 20), '');
    @include for-size(tablet-medium) {
        @include font('', 24px, calc(34 / 24), '');
    }
    @include for-size(tablet) {
        @include font('', 30px, calc(44 / 30), '');
    }
    @include for-size(desktop) {
        @include font('', 36px, calc(52 / 36), '');
    }
}

.offer__rankings {
    display: none;
    @include for-size(desktop) {
        display: block;
    }
}

.offer__rankings-item {
    color: $colorTextAddress;
    @include font(400, 18px, calc(25 / 18), '');
    &:first-child {
        margin-bottom: 15px;
    }
}

.offer__btn {
    border: none;
    background-color: $colorAccent;
}
