.products {
    margin-left: auto;
    margin-right: auto;
    padding-top: 580px;
    padding-bottom: 80px;
    background-color: $colorBackgroundHero;
    @include for-size(mobile-only) {
        padding: 0px;
    }
    @include for-size(mobile) {
        width: 414px;
    }
    @include for-size(tablet) {
        width: 1024px;
        padding-top: 400px;
        padding-bottom: 80px;
        background-image: url(../img/products/products-eero-tablet@1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include for-size(retina) {
            background-image: url(../img/products/products-eero-tablet@2x.jpg);
        }
    }
    @include for-size(desktop) {
        width: 1440px;
        padding-top: 580px;
        padding-bottom: 80px;
        background-image: url(../img/products/products-eero-desktop@1x.jpg);
        @include for-size(retina) {
            background-image: url(../img/products/products-eero-desktop@2x.jpg);
        }
    }
}

.products__wrapper {
    @include for-size(tablet) {
        display: flex;
        gap: 34px;
        margin-bottom: 25px;
    }
    @include for-size(desktop) {
        gap: 60px;
        margin-bottom: 90px;
        padding: 0 106px;
    }
}

.products__element {
    text-align: center;
    color: $colorTextWhite;
    @include for-size(mobile-only) {
        padding-top: 421px;
        padding-bottom: 38px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include for-size(tablet) {
        flex-basis: calc((100% - 34px) / 2);
    }
    @include for-size(desktop) {
        flex-basis: calc((100% - 60px) / 2);
        text-align: left;
    }
}

.products__element-pro6 {
    @include for-size(mobile-only) {
        margin-left: -15px;
        margin-right: -15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../img/products/products-eero-pro6-mobile@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/products/products-eero-pro6-mobile@2x.jpg');
        }
    }
}

.products__element6 {
    @include for-size(mobile-only) {
        margin-left: -15px;
        margin-right: -15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../img/products/products-eero6-mobile@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/products/products-eero6-mobile@2x.jpg');
        }
    }
}

.products__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
    color: $colorBlack;
    @include font(700, 16px, calc(20 / 16), '');
    border-radius: 10px;
    background-color: $colorBackgroundPrimary;
    @include for-size(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.products__caption {
    @include font(400, 22px, calc(26 / 22), '');
    margin-bottom: 16px;
    @include for-size(tablet) {
        margin-bottom: 20px;
        @include font('', 28px, calc(30 / 28), '');
    }
    @include for-size(tablet) {
        margin-bottom: 16px;
        @include font('', 36px, calc(44 / 36), '');
    }
}

.products__title {
    @include font(400, 28px, calc(32 / 28), '');
    margin-bottom: 20px;
    @include for-size(tablet) {
        @include font('', 36px, calc(40 / 36), '');
    }
    @include for-size(desktop) {
        @include font('', 42px, calc(48 / 42), '');
    }
}

.products__title--short {
    margin-left: auto;
    margin-right: auto;
    max-width: 172px;
    @include for-size(tablet) {
        max-width: 222px;
    }
    @include for-size(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.products__description {
    @include font('', 16px, calc(22 / 16), '');
    margin-bottom: 23px;
    @include for-size(tablet) {
        @include font('', 18px, calc(24 / 18), '');
        margin-bottom: 28px;
    }
}

.products__description-price {
    @include font('', 18px, calc(22 / 18), '');
    margin-bottom: 16px;
    @include for-size(tablet) {
        @include font('', 18px, calc(24 / 18), '');
        margin-bottom: 27px;
    }
    @include for-size(tablet) {
        margin-bottom: 38px;
    }
}

.products__price {
    font-weight: 700;
}

.products__btn {
    background-color: $colorAccent;
    width: 220px;
    height: 52px;
    border: none;
}

.products__box {
    text-align: center;
}

.products__link {
    position: relative;
    color: $colorTextWhite;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;

    &::after {
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);

        content: '';
        background-color: $colorTextWhite;
        height: 1px;
        width: 154px;
    }
    @include for-size(mobile-only) {
        display: none;
    }
}
