.products {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $colorBackgroundHero;
    @include for-size(mobile) {
        width: 414px;
    }
    @include for-size(tablet-medium) {
        width: 768px;
        padding-top: 291px;
        padding-bottom: 30px;
        background-image: url(../img/products/products-eero-tablet@1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include for-size(retina) {
            padding-bottom: 25px;
            background-image: url(../img/products/products-eero-tablet@2x.jpg);
        }
    }
    @include for-size(tablet) {
        padding-top: 400px;
        padding-bottom: 25px;
        width: 1024px;
    }
    @include for-size(desktop) {
        width: 1440px;
        padding-top: 580px;
        padding-bottom: 80px;
        background-image: url(../img/products/products-eero-desktop@1x.jpg);
        @include for-size(retina) {
            background-image: url(../img/products/products-eero-desktop@2x.jpg);
        }
    }
}

.products__wrapper {
    @include for-size(tablet-medium) {
        display: flex;
        gap: 28px;
    }
    @include for-size(tablet) {
        margin-bottom: 25px;
    }
    @include for-size(desktop) {
        gap: 60px;
        margin-bottom: 90px;
        justify-content: center;
    }
}

.products__element {
    max-width: 550px;
    text-align: center;
    color: $colorTextWhite;
    @include for-size(mobile-only) {
        padding-top: 421px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: -15px;
        margin-right: -15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @include for-size(tablet-medium) {
        flex-basis: calc((100% - 28px) / 2);
    }
    @include for-size(tablet) {
        flex-basis: calc((100% - 34px) / 2);
    }
    @include for-size(desktop) {
        flex-basis: calc((100% - 60px) / 2);
        text-align: left;
    }
}

.products__element-pro6 {
    @include for-size(mobile-only) {
        background-image: url('../img/products/products-eero-pro6-mobile@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/products/products-eero-pro6-mobile@2x.jpg');
        }
    }
}

.products__element6 {
    @include for-size(mobile-only) {
        background-image: url('../img/products/products-eero6-mobile@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/products/products-eero6-mobile@2x.jpg');
        }
    }
}

.products__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
    color: $colorBlack;
    @include font(700, 16px, calc(20 / 16), '');
    border-radius: 10px;
    background-color: $colorBackgroundPrimary;
    @include for-size(tablet-medium-only) {
        margin-bottom: 15px;
    }
    @include for-size(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.products__caption {
    @include font(400, 22px, calc(26 / 22), '');
    margin-bottom: 16px;
    @include for-size(tablet-medium) {
        margin-bottom: 15px;
    }
    @include for-size(tablet) {
        margin-bottom: 20px;
        @include font('', 28px, calc(30 / 28), '');
    }
    @include for-size(desktop) {
        margin-bottom: 12px;
        @include font('', 36px, calc(44 / 36), '');
    }
}

.products__title {
    @include font(400, 28px, calc(32 / 28), '');
    margin-bottom: 20px;
    @include for-size(tablet-medium-only) {
        margin-bottom: 15px;
    }
    @include for-size(tablet-medium) {
        @include font('', 26px, calc(32 / 26), '');
    }
    @include for-size(tablet) {
        @include font('', 36px, calc(40 / 36), '');
    }
    @include for-size(desktop) {
        @include font('', 42px, calc(48 / 42), '');
    }
}

.products__title--short {
    margin-left: auto;
    margin-right: auto;
    max-width: 172px;
    @include for-size(tablet) {
        max-width: 222px;
    }
    @include for-size(desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.products__description {
    @include font('', 16px, calc(22 / 16), '');
    margin-bottom: 23px;
    @include for-size(tablet-medium) {
        margin-bottom: 20px;
    }
    @include for-size(tablet) {
        @include font('', 18px, calc(24 / 18), '');
        margin-bottom: 28px;
    }
    @include for-size(desktop) {
        margin-bottom: 38px;
    }
}

.products__description-price {
    margin-bottom: 16px;
    @include font('', 18px, calc(22 / 18), '');
    @include for-size(tablet-medium) {
        margin-bottom: 17px;
    }
    @include for-size(tablet) {
        margin-bottom: 31px;
    }
    @include for-size(desktop) {
        margin-bottom: 40px;
    }
}

.products__price {
    font-weight: 700;
}

.products__btn {
    background-color: $colorAccent;
    border: none;
}

.products__link {
    display: none;
    @include for-size(tablet) {
        display: inline-block;
    }
    color: $colorTextWhite;
    transition: color $baseTransition;
    &::after {
        background-color: $colorTextWhite;
        transition: background-color $baseTransition;
    }
    &:hover,
    &:focus {
        color: $colorAccent;
        &::after {
            background-color: $colorAccent;
        }
    }
}
