.promo {
    padding: 40px 0 5px;
    text-align: center;
    @include for-size(tablet-medium) {
        padding: 80px 0 3px;
    }
    @include for-size(desktop) {
        padding: 110px 0 91px;
    }
    background-color: $colorBackgroundPrimary;
}

.promo__subtitle {
    @include font('', 18px, calc(21 / 18), '');
    margin-bottom: 21px;
    color: $colorTextPrimary;
}

.promo__amazon-logo {
    display: block;
    margin: 0 auto 28px;
}

.promo__link {
    margin-bottom: 30px;
    @include for-size(tablet-medium) {
        margin-bottom: 60px;
    }
    @include for-size(desktop) {
        margin-bottom: 116px;
    }
}

.promo__link.link {
    color: $colorTextPrimary;
    transition: color $baseTransition;
    &::after {
        background-color: $colorTextPrimary;
        transition: background-color $baseTransition;
    }
    &:hover,
    &:focus {
        color: $colorAccent;
        &::after {
            background-color: $colorAccent;
        }
    }
}

.promo__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 730px;
    text-align: center;
    @include font('', 30px, calc(40 / 30), '');
    color: $colorTextPrimary;
    @include for-size(tablet) {
        @include font('', 50px, calc(60 / 50), '');
        margin-bottom: 28px;
    }
    @include for-size(desktop) {
        margin-bottom: 44px;
    }
}

.promo__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 736px;
    text-align: center;
    @include font('', 12px, calc(14 / 12), '');
    color: $colorTextPrimary;
    @include for-size(tablet-medium) {
        @include font('', 18px, calc(25 / 18), '');
        margin-bottom: 28px;
    }
    @include for-size(desktop) {
        margin-bottom: 78px;
    }
}

.promo__button {
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    background-color: $colorAccent;
    border: none;
    color: $colorTextWhite;
    @include for-size(tablet) {
        margin-bottom: 80px;
    }
    @include for-size(desktop) {
        margin-bottom: 120px;
    }
}

.promo__wrapper {
    position: relative;
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    @include for-size(tablet-medium) {
        margin-bottom: 36px;
    }
    @include for-size(desktop) {
        margin-bottom: 124px;
    }
}

.promo__img {
    width: 100%;
}
