.selection {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: $colorBackgroundLightGray;
    @include for-size(tablet) {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    @include for-size(desktop) {
        padding-bottom: 106px;
    }
}

.selection__title {
    max-width: 328px;
    margin: 0 auto 30px;
    text-align: center;
    @include font(400, 40px, calc(50 / 40), '');
    @include for-size(desktop) {
        margin-bottom: 40px;
        @include font('', 50px, calc(60 / 50), '');
    }
}
