.socials {
    display: flex;
    gap: 27px;
}

.social-link {
    display: flex;
    color: inherit;
    &:hover,
    &:focus {
        animation-name: rotate-icon;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
}
.social-media__icon {
    fill: currentColor;
}
