.stay-connected {
    max-width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: $colorBackgroundDark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url('../img/stay-connected/stay-connected-tablet@1x.jpg');
    @include for-size(retina) {
        background-image: url('../img/stay-connected/stay-connected-tablet@2x.jpg');
    }
    @include for-size(tablet-medium) {
        padding-top: 111px;
        padding-bottom: 30px;
        background-position: center;
        background-image: url('../img/stay-connected/stay-connected-desktop@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/stay-connected/stay-connected-desktop@2x.jpg');
        }
    }
    @include for-size(tablet) {
        padding-top: 115px;
        padding-bottom: 115px;
    }
    @include for-size(desktop) {
        margin-left: auto;
        margin-right: auto;
    }
}

.stay-connected__title {
    color: $colorTextWhite;
    @include font(400, 30px, calc(40 / 30), '');
    margin-bottom: 248px;
    @include for-size(tablet-medium) {
        max-width: 596px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 86px;
        @include font(400, 50px, calc(60 / 50), '');
    }
    @include for-size(tablet) {
        margin-bottom: 80px;
    }
}

.stay-connected__btn {
    background-color: $colorAccent;
    border: none;
}
