.stay-connected {
    max-width: 1440px;
    text-align: center;
    background-color: $colorBackgroundDark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url('../img/stay-connected/stay-connected-tablet@1x.jpg');
    @include for-size(retina) {
        background-image: url('../img/stay-connected/stay-connected-tablet@2x.jpg');
    }
    @include for-size(tablet-medium) {
        background-position: center;
        background-image: url('../img/stay-connected/stay-connected-desktop@1x.jpg');
        @include for-size(retina) {
            background-image: url('../img/stay-connected/stay-connected-desktop@2x.jpg');
        }
    }
    @include for-size(desktop) {
        margin-left: auto;
        margin-right: auto;
    }
}

.stay-connected__title {
    color: $colorTextWhite;
    margin-bottom: 250px;
    @include for-size(tablet-medium) {
        max-width: 596px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
    }
    @include for-size(desktop) {
        margin-bottom: 70px;
    }
}

.stay-connected__btn {
    background-color: $colorAccent;
    border: none;
}
