body {
    max-width: 100%;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.11px;
    color: $colorTextPrimary;
    background-color: $colorBackgroundPrimary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
