.promo {
    text-align: center;
    background-color: $colorBackgroundPrimary;
}

.promo__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 730px;
    text-align: center;
    @include font(400, 30px, 40px, '');
    color: $colorTextPrimary;
    @include for-size(tablet-medium) {
        @include font('', 50px, calc(60 / 50), '');
        margin-bottom: 30px;
    }
    @include for-size(desktop) {
        margin-bottom: 50px;
    }
}

.promo__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 736px;
    text-align: center;
    @include font('', 12px, calc(14 / 12), '');
    color: $colorTextPrimary;
    @include for-size(tablet-medium) {
        @include font('', 18px, calc(25 / 18), '');
        margin-bottom: 30px;
    }
    @include for-size(desktop) {
        margin-bottom: 80px;
    }
}

.promo__button {
    margin-bottom: 50px;
    background-color: $colorAccent;
    border: none;
    color: $colorTextWhite;
    @include for-size(tablet-medium) {
        margin-bottom: 80px;
    }
    @include for-size(desktop) {
        margin-bottom: 120px;
    }
}

.promo__img {
    width: 100%;
    @include for-size(tablet) {
        width: 708px;
        margin-left: auto;
        margin-right: auto;
    }
    @include for-size(desktop) {
        width: 928px;
    }
}
